h1 {
  text-align: center;
}

label {
  display: flex;
  /* justify-content: center; */
  /* flex-direction: row; */
  align-items: center;

}

button {
  display: flex;
  justify-content: center;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contaner {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 130%;
  border-radius: 20px;
  height: 400px;
  flex-direction: column;

}

.radioChack {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}



.submitButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.submitButton button {
  background-color: rgb(121, 188, 255);
  border-radius: 5px;
  border: 2px solid rgb(7, 136, 216);
  padding: 10px 40px;
  margin-top: 20px;
  
}

button:hover {
  background-color:  rgb(74, 138, 201);
}